.form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0; 
}
   .form__input{
      width: 230px;
      line-height: 38px;
      border: 1px solid #dddddd;
      font-family: $secondary-font;
      color: #d6d6d6;
      font-weight: light;
      font-style: italic;
      font-size: 15px;
   }

  .form__button {
      @extend %btn-style;
      border: none;
      width: 150px;
      height: 40px;
  /*    font-size: $main-font-size;
      font-family: $primary-font;
      font-weight: $main-bold-font;
      text-transform: uppercase;
      color: $color-white; */
      background-color: $primary-bg-color;
      cursor: pointer;
      
}