.section { width: 100%; max-width: 1200px; margin: 0 auto;
}
.section__list {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}
.section__text {
    display: block;
    text-align: center;
    font-family: 'Kaushan Script', cursive;;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 17px;
}
 .section__title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 60px;
}
.section__title::after {
    display: block;
    content: "";
    margin: 0 auto;
    background-color:#f38181;
    width: 60px;
    height: 3px;
    margin-top: 31px;
}
