.site-navigation{
    @include list-flex;
    width: 490px;
    height: 36px;
    margin:0;
   
}
  .site-navigation__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $primary-font;
    font-weight: $secondary-normal-font;
    color: $color-white;
    padding: 10px 0;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
  
 &:hover{
      color: #fce38a;
      border-bottom: 3px solid #fce38a;
}
  }