%btn-style{
    text-transform: uppercase;
    font-family: $primary-font;
    font-weight: $main-bold-font;
    font-size: $main-font-size;
    color: $color-white; 
    cursor: pointer;
}

%title-style{
    text-align: center;
    text-transform: uppercase;
    
}