@mixin space-between-flex($type: 'all'){
    display: flex;

    @if $type== 'all'{
        justify-content: space-between;
        align-items: center;
    } @else if $type== 'hor'{
        justify-content: space-between;
    } @else if $type== 'ver'{
        align-items: center;
    }
}