$main-font-size: 14px;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$color-white: #fff;
$color-dark-gray: #333333;
$color-light-gray:#b6b6b6;
$main-coral-color: #f38181;
$primary-bg-color: #95e1d3;
$main-bold-font: 700;
$secondary-normal-font: 400;

