.team__post {
    font-family: $secondary-font;
    font-family: $secondary-normal-font;
    font-size: 15px;
    color: $color-light-gray;
    line-height: 24px;
    text-align: center;
    margin-bottom: 90px;
}

.team__list {
    @extend %list;
    @include list-flex($type: 'all');
    margin-top: 90px;
    padding-bottom: 63px;
}
.team__item {
    position: relative;

    &:hover .socials {
        opacity: 1;
    }
    &:hover .team__overlay{
        -webkit-transform: translate(-10px, -10px);
            -ms-transform: translate(-10px, -10px);
                transform: translate(-10px, -10px);
    }

    &:hover .team__overlay-block{
        opacity: 0.8;
       } 
}
 .team__underlay{
     width: 379px;
     height: 468px;
     background-color: $primary-bg-color;
     z-index: 0;
 }

  .team__item-img{
    position: absolute;
    background-size: cover;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
   } 

 .team__item-name {
     @extend %title-style;
     font-size: $main-font-size;
     color: $color-dark-gray;
     font-family: $primary-font;
     font-weight: $secondary-normal-font;
     margin-top: 30px;
     margin-bottom: 12px;
 }

 .team__item-position {
     font-size: 15px;
     line-height: 24px;
     font-family: $secondary-font;
     font-weight: light;
     font-style: italic;
     color: $color-light-gray;
     text-align: center;
 }
 
 .team__overlay{
    position: absolute;
    width: 379px;
    height: 468px;
    top: 0;
    left: 0;
    -webkit-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}

.team__overlay-block{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 380px;
    height: 470px;
    top: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 138, 137)), to(rgb(237, 213, 135)));
    background-image: -webkit-linear-gradient(top, rgb(238, 138, 137), rgb(237, 213, 135));
    background-image: -o-linear-gradient(top, rgb(238, 138, 137), rgb(237, 213, 135));
    background-image: linear-gradient(to bottom, rgb(238, 138, 137), rgb(237, 213, 135));
    opacity: 0;
    z-index: 2;
    -webkit-transition: 0.7s linear;
    -o-transition: 0.7s linear;
    transition: 0.7s linear;
 }
 
 .socials{
    @extend %list;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 210px;
    left: 78px;
    z-index: 3;
    width: 100px;
    height: 200px;
    opacity: 0;

    &__item  {
     margin-right: 1px;
 }

    &__link {
   @include list-flex('ver');
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
    width: 55px;
    height: 55px;
    background-color: #fce38a;
   
       &:hover{
         background-color: $main-coral-color;
  }
       &:hover .socials__icon{
          fill: $color-white;
  }
}
   &__icon{
      display: block;
      width: 100%;
      height: 100%;
      width: 38px;
      height: 32px;
      fill: $main-coral-color;
  }
}
 
  